<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr.mapper.ConfigMajorKindMapper">
	<resultMap type="ConfigMajorKind" id="configMajorKindMap" >
		<id property="mfkId"    column="mfk_id"/>
		<result property="majorKindId"    column="major_kind_id"/>
		<result property="majorKindName"    column="major_kind_name"/>
	</resultMap>

	<select id="selectConfigMajorKindAll" resultMap="configMajorKindMap">
		select * from config_major_kind
	</select>
	
	

	<select id="selectConfigMajorKindById" parameterType="_int" resultMap="configMajorKindMap">
		select * from config_major_kind where mfk_id=#{id}
	</select>

	<delete id="deleteConfigMajorKindById" parameterType="_int">
		delete from config_major_kind where mfk_id=#{id}
	</delete>

	<update id="updateConfigMajorKind" parameterType="ConfigMajorKind">
		update ConfigMajorKind set major_kind_id=#{majorKindId},major_kind_name=#{majorKindName} where mfk_id=#{mfkId}
	</update>
	<insert id="insertConfigMajorKind" parameterType="ConfigMajorKind">
		insert into config_major_kind(major_kind_id,major_kind_name) 
		values(#{majorKindId},#{majorKindName}) 
	</insert>
	

  	
  	<!-- 根据条件参数查询数据列表 -->
    <select id="selectConfigMajorKindByCondition" resultMap="configMajorKindMap" parameterType="hashmap">
        SELECT
       	 *
        FROM config_major_kind WHERE 1 = 1
        
        <if test="majorKindId != null and majorKindId != ''">
            AND major_kind_id LIKE CONCAT('%', #{majorKindId}, '%')
        </if>
        <if test="majorKindName != null and majorKindName != ''">
            AND major_kind_name LIKE CONCAT('%', #{majorKindName}, '%')
        </if>
        <if test="currentPage!=null and pageSize!=null">
			limit #{currentPage},#{pageSize}
		</if>
    </select>
    
     <!--查询总数据值 -->
  	<select id="selectConfigMajorKindMaxNum" resultType="_int">
  		select count(*) from config_major_kind
  	</select>
    
    
    <!-- 查询MAX(major_kind_id)-->
	<select id="selectConfigMajorKindIdMax"  resultType="string">
        select MAX(major_kind_id) from config_major_kind
	</select>
	
</mapper>
