<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr.mapper.ConfigProfessionDesignMapper">

    <!-- 字段映射 -->
    <resultMap id="configProfessionDesignMap" type="ConfigProfessionDesign">
        <id column="PD_ID" property="pdId" jdbcType="VARCHAR" />
        <result column="PROFESSION_DESIGN_NAME" property="professionDesignName" jdbcType="VARCHAR" />
    </resultMap>
    
    
   
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PD_ID, PROFESSION_DESIGN_NAME
    </sql>
    
    
    <!-- 查询所有数据 -->
    <select id="selectConfigProfessionDesignAll" resultMap="configProfessionDesignMap">
        SELECT
        <include refid="allColumns" />
        FROM CONFIG_PROFESSION_DESIGN
    </select>
    
    <!-- 根据条件参数查询数据列表 -->
    <select id="selectConfigProfessionDesignByCondition" resultMap="configProfessionDesignMap" parameterType="hashmap">
        SELECT
        <include refid="allColumns" />
        FROM CONFIG_PROFESSION_DESIGN WHERE 1 = 1
        
        <if test="professionDesignName != null and professionDesignName != ''">
            AND PROFESSION_DESIGN_NAME LIKE CONCAT('%', #{professionDesignName}, '%')
        </if>
        <if test="currentPage!=null and pageSize!=null">
			limit #{currentPage},#{pageSize}
		</if>
    </select>
    
    <!-- 根据主键查询数据 -->
	  <select id="selectConfigProfessionDesignById" resultMap="configProfessionDesignMap" parameterType="_int">
        SELECT
        <include refid="allColumns" />
        FROM CONFIG_PROFESSION_DESIGN WHERE PD_ID =#{id}
    </select>


    <select id="selectConfigProfessionDesignByIds" resultMap="configProfessionDesignMap" parameterType="list">
        SELECT
        <include refid="allColumns" />
        FROM CONFIG_PROFESSION_DESIGN WHERE PD_ID IN
        <foreach collection="list" index="index" item="pdId" open="(" separator="," close=")">
            #{pdId}
        </foreach>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertConfigProfessionDesign" parameterType="ConfigProfessionDesign">
        INSERT INTO CONFIG_PROFESSION_DESIGN (
           PROFESSION_DESIGN_NAME
        ) VALUES (
           
            #{professionDesignName}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateConfigProfessionDesign" parameterType="map">
        UPDATE CONFIG_PROFESSION_DESIGN
        <set>
            <if test="professionDesignName != null">
                PROFESSION_DESIGN_NAME = #{professionDesignName}
            </if>
        </set>
        WHERE PD_ID = #{pdId}
    </update>
    
    <!-- 根据主键删除数据 -->
    <delete id="deleteConfigProfessionDesignById" parameterType="_int">
        DELETE FROM CONFIG_PROFESSION_DESIGN WHERE PD_ID = #{id}
    </delete>
    
    <!--查询总数据值 -->
  	<select id="selectConfigProfessionDesignMaxNum" resultType="_int">
  		select count(*) from CONFIG_PROFESSION_DESIGN
  	</select>
  
</mapper>