<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zjl.mapper.EngageSubjectsMapper">
	
	<insert id="insertEngageSubjects" parameterType="EngageSubjects">

	</insert>
	
	
	<delete id="deleteEngageSubjectsById" parameterType="_int">
		delete from engage_subjects where sub_id=#{id}
	</delete>
	
	
	
	<update id="updateEngageSubjects" parameterType="EngageSubjects">
		
	</update>
	
	
	
	

	
	<select id="selectEngageSubjectsAll" resultMap="es">
		select * from engage_subjects
	</select>
	
	
	
	<select id="selectEngageSubjectsById" parameterType="_int"  resultMap="es">
		select * from engage_subjects where sub_id=#{id}
	</select>
	
	<resultMap type="EngageSubjects" id="es" >
		<id property="subId"    column="sub_id"/>
		<result property="firstKindId"    column="first_kind_id"/>
		<result property="firstKindName"    column="first_kind_name"/>
		<result property="secondKindId"    column="second_kind_id"/>
		<result property="secondKindName"    column="second_kind_name"/>
		<result property="register"    column="register"/>
		<result property="registTime"    column="regist_time"/>
		<result property="derivation"    column="derivation"/>
		<result property="content"    column="content"/>
		<result property="keyA"    column="key_a"/>
		<result property="keyB"    column="key_b"/>
		<result property="keyC"    column="key_c"/>
		<result property="keyD"    column="key_d"/>
		<result property="keyE"    column="key_e"/>
		<result property="correctKey"    column="correct_key"/>
		<result property="changer"    column="changer"/>
		<result property="changeTime"    column="change_time"/>
	</resultMap>
	

</mapper>


