<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zjl.mapper.EngageSubjectsMapper">
	
	<insert id="insertEngageSubjects" parameterType="EngageSubjects">

	</insert>
	
	
	<delete id="deleteEngageSubjectsById" parameterType="_int">
		delete from engage_subjects where sub_id=#{id}
	</delete>
	
	
	
	<update id="updateEngageSubjects" parameterType="EngageSubjects">
		
	</update>
	
	
	
	

	
	<select id="selectEngageSubjectsAll" resultMap="es">
		select * from engage_subjects
	</select>
	
	
	
	<select id="selectEngageSubjectsById" parameterType="_int"  resultMap="es">
		select * from engage_subjects where sub_id=#{id}
	</select>
	
		<resultMap type="EngageSubjects" id="es" >
		<result property="SubId"    column="sub_id"/>
		<result property="FirstKindId"    column="first_kind_id"/>
		<result property="FirstKindName"    column="first_kind_name"/>
		<result property="SecondKindId"    column="second_kind_id"/>
		<result property="SecondKindName"    column="second_kind_name"/>
		<result property="Register"    column="register"/>
		<result property="RegistTime"    column="regist_time"/>
		<result property="Derivation"    column="derivation"/>
		<result property="Content"    column="content"/>
		<result property="KeyA"    column="key_a"/>
		<result property="KeyB"    column="key_b"/>
		<result property="KeyC"    column="key_c"/>
		<result property="KeyD"    column="key_d"/>
		<result property="KeyE"    column="key_e"/>
		<result property="CorrectKey"    column="correct_key"/>
		<result property="Changer"    column="changer"/>
		<result property="ChangeTime"    column="change_time"/>
	</resultMap>
	

</mapper>


