<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr.mapper.EngageInterviewMapper">
	
	<insert id="insertEngageInterview" parameterType="EngageInterview">
		 INSERT INTO ENGAGE_INTERVIEW (
            HUMAN_NAME, INTERVIEW_AMOUNT, HUMAN_MAJOR_KIND_ID, HUMAN_MAJOR_KIND_NAME, HUMAN_MAJOR_ID, HUMAN_MAJOR_NAME, IMAGE_DEGREE, 
            NATIVE_LANGUAGE_DEGREE, FOREIGN_LANGUAGE_DEGREE, RESPONSE_SPEED_DEGREE, EQ_DEGREE, IQ_DEGREE, MULTI_QUALITY_DEGREE, REGISTER, CHECKER, 
            REGISTE_TIME, CHECK_TIME, RESUME_ID, RESULT, INTERVIEW_COMMENT, CHECK_COMMENT, INTERVIEW_STATUS, CHECK_STATUS
        ) VALUES (
            #{humanName},
            #{interviewAmount},
            #{humanMajorKindId},
            #{humanMajorKindName},
            #{humanMajorId},
            #{humanMajorName},
            #{imageDegree},
            #{nativeLanguageDegree},
            #{foreignLanguageDegree},
            #{responseSpeedDegree},
            #{eqDegree},
            #{iqDegree},
            #{multiQualityDegree},
            #{register},
            #{checker},
            #{registeTime},
            #{checkTime},
            #{resumeId},
            #{result},
            #{interviewComment},
            #{checkComment},
            #{interviewStatus},
            #{checkStatus}
        )	
	</insert>
	
	
	<delete id="deleteEngageInterviewById" parameterType="_int">
		delete from engage_interview where ein_id=#{id}
	</delete>
	
	
	
	<update id="updateEngageInterview" parameterType="EngageInterview">
		update engage_interview set human_name=#{humanName},interview_amount=#{interviewAmount},human_major_kind_id=#{humanMajorKindId},human_major_kind_name=#{humanMajorKindName},human_major_id=#{humanMajorId},human_major_name=#{humanMajorName},image_degree=#{imageDegree},native_language_degree=#{nativeLanguageDegree},foreign_language_degree=#{foreignLanguageDegree},response_speed_degree=#{responseSpeedDegree},EQ_degree=#{EQDegree},IQ_degree=#{IQDegree},multi_quality_degree=#{multiQualityDegree},register=#{register},checker=#{checker},registe_time=#{registeTime},check_time=#{checkTime},resume_id=#{resumeId},result=#{result},interview_comment=#{interviewComment},check_comment=#{checkComment},interview_status=#{interviewStatus},check_status=#{checkStatus} where ein_id=#{einId}
	</update>
	
	
	
	

	
	<select id="selectEngageInterviewAll" resultMap="ei">
		select * from engage_interview
	</select>
	
	
	
	<select id="selectEngageInterviewById" parameterType="_int"  resultMap="ei">
		select * from engage_interview where ein_id=#{id}
	</select>
	
	<resultMap type="EngageInterview" id="ei" >
		<id column="EIN_ID" property="einId" jdbcType="VARCHAR" />
        <result column="HUMAN_NAME" property="humanName" jdbcType="VARCHAR" />
        <result column="INTERVIEW_AMOUNT" property="interviewAmount" jdbcType="VARCHAR" />
        <result column="HUMAN_MAJOR_KIND_ID" property="humanMajorKindId" jdbcType="VARCHAR" />
        <result column="HUMAN_MAJOR_KIND_NAME" property="humanMajorKindName" jdbcType="VARCHAR" />
        <result column="HUMAN_MAJOR_ID" property="humanMajorId" jdbcType="VARCHAR" />
        <result column="HUMAN_MAJOR_NAME" property="humanMajorName" jdbcType="VARCHAR" />
        <result column="IMAGE_DEGREE" property="imageDegree" jdbcType="VARCHAR" />
        <result column="NATIVE_LANGUAGE_DEGREE" property="nativeLanguageDegree" jdbcType="VARCHAR" />
        <result column="FOREIGN_LANGUAGE_DEGREE" property="foreignLanguageDegree" jdbcType="VARCHAR" />
        <result column="RESPONSE_SPEED_DEGREE" property="responseSpeedDegree" jdbcType="VARCHAR" />
        <result column="EQ_DEGREE" property="eqDegree" jdbcType="VARCHAR" />
        <result column="IQ_DEGREE" property="iqDegree" jdbcType="VARCHAR" />
        <result column="MULTI_QUALITY_DEGREE" property="multiQualityDegree" jdbcType="VARCHAR" />
        <result column="REGISTER" property="register" jdbcType="VARCHAR" />
        <result column="CHECKER" property="checker" jdbcType="VARCHAR" />
        <result column="REGISTE_TIME" property="registeTime" jdbcType="TIMESTAMP" />
        <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
        <result column="RESUME_ID" property="resumeId" jdbcType="SMALLINT" />
        <result column="RESULT" property="result" jdbcType="VARCHAR" />
        <result column="INTERVIEW_COMMENT" property="interviewComment" jdbcType="VARCHAR" />
        <result column="CHECK_COMMENT" property="checkComment" jdbcType="VARCHAR" />
        <result column="INTERVIEW_STATUS" property="interviewStatus" jdbcType="VARCHAR" />
        <result column="CHECK_STATUS" property="checkStatus" jdbcType="VARCHAR" />
	</resultMap>
	


</mapper>


