<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hr.mapper.SalaryStandardMapper">

	<resultMap type="SalaryStandard" id="SalaryStandardMap" >
		<id property="ssdId"    column="ssd_id"/>
		<result property="standardId"    column="standard_id"/>
		<result property="standardName"    column="standard_name"/>
		<result property="designer"    column="designer"/>
		<result property="register"    column="register"/>
		<result property="checker"    column="checker"/>
		<result property="changer"    column="changer"/>
		<result property="registTime"    column="regist_time"/>
		<result property="checkTime"    column="check_time"/>
		<result property="changeTime"    column="change_time"/>
		<result property="salarySum"    column="salary_sum"/>
		<result property="checkStatus"    column="check_status"/>
		<result property="changeStatus"    column="change_status"/>
		<result property="checkComment"    column="check_comment"/>
		<result property="remark"    column="remark"/>
	</resultMap>

	
	<select id="selectBySalaryStandardName" parameterType="string" resultMap="SalaryStandardMap">
		select * from salary_standard where standard_name=#{ss}
	</select>
	
	
	<select id="selectSalaryStandardAll" resultMap="SalaryStandardMap">
		select * from salary_standard
	</select>
	<select id="selectSalaryStandardAllByCS" resultMap="SalaryStandardMap">
		select * from salary_standard where check_status=#{cs}
	</select>
	
	
	<!-- 根据条件参数列表 -->
	<select id="selectSalaryStandardAllByConditionPlus" resultMap="SalaryStandardMap" parameterType="hashmap">
		select * from salary_standard where 1=1
        <if test="currentPage!=null and pageSize!=null">
			limit #{currentPage},#{pageSize}
		</if>
	</select>
	<select id="selectSalaryStandardById" parameterType="_int" resultMap="SalaryStandardMap">
		select * from salary_standard where standard_id=#{standardId}
	</select>
	
	
	<!-- 向思宇加的id模糊查询 -->
	<select id="selectSalaryStandardByIdDim" resultMap="SalaryStandardMap">
		select * from salary_standard where standard_id like '%${_parameter}%'
	</select>
	
		<!-- 向思宇加的薪酬标准查询 -->
	<select id="selectSalaryStandardByCondition" resultMap="SalaryStandardMap" parameterType="hashmap">
		select standard_id,standard_name,designer,regist_time,salary_sum 
		from ((select * from salary_standard where standard_id like "%"#{standardId}"%"
		and (regist_time between #{startTime} and #{endTime})) as a)
		where 1=1
		<if test="keyword!=null and keyword!=''">
			<bind name="sname" value="'%'+keyword+'%'"></bind>
			standard_name like #{sname}
		</if>
		<if test="keyword!=null and keyword!=''">
			<bind name="des" value="'%'+keyword+'%'"></bind>
			or designer like #{des}
		</if>
		<if test="keyword!=null and keyword!=''">
			<bind name="che" value="'%'+keyword+'%'"></bind>
			or checker like #{che}
		</if>
		<if test="keyword!=null and keyword!=''">
			<bind name="cha" value="'%'+keyword+'%'"></bind>
			or changer like #{cha}
		</if>
		<if test="currentPage!=null and pageSize!=null">
			limit #{currentPage},#{pageSize}
		</if>
	</select>
	
	<delete id="deleteSalaryStandardById" parameterType="_int">
		delete from salary_standard where ssd_id=#{id}
	</delete>
	<insert id="insertSalaryStandard" parameterType="SalaryStandard">
		insert into salary_standard(standard_id,standard_name,designer,register,checker,changer,regist_time,check_time,change_time,salary_sum,check_status,change_status,check_comment,remark) 
		values(#{standardId},#{standardName},#{designer},#{register},#{checker},#{changer},#{registTime},#{checkTime},#{changeTime},#{salarySum},#{checkStatus},#{changeStatus},#{checkComment},#{remark})
	</insert>
	
	<update id="updateSalaryStandard" parameterType="SalaryStandard">
		update salary_standard set standard_id=#{standardId},standard_name=#{standardName},designer=#{designer},register=#{register},checker=#{checker},changer=#{changer},regist_time=#{registTime},check_time=#{checkTime},change_time=#{changeTime},salary_sum=#{salarySum},check_status=#{checkStatus},change_status=#{changeStatus},check_comment=#{checkComment},remark=#{remark} where ssd_id=#{ssdId}
	</update>
	
	<!-- 向思宇加的修改语句 -->
	<update id="updateSalaryStandardfh" parameterType="SalaryStandard">
		update salary_standard 
		<trim prefix="set" suffixOverrides=",">
			<if test="checker!=null">
				checker=#{checker},
			</if>
			<if test="checkTime!=null">
				check_time=#{checkTime},
			</if>
			<if test="checkStatus!=null">
				check_status=#{checkStatus},
			</if>
			<if test="checkComment!=null">
				check_comment=#{checkComment},
			</if>
		</trim>
		where standard_id=#{standardId}
	</update>
	<update id="updateSalaryStandardbg" parameterType="SalaryStandard">
		update salary_standard
		<trim prefix="set" suffixOverrides=",">
			<if test="changer!=null">
				changer=#{changer},
			</if>
			<if test="changeTime!=null">
				change_time=#{changeTime},
			</if>
			<if test="changeStatus!=null">
				change_status=#{changeStatus},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
		</trim>
		where standard_id=#{standardId}
	</update>
</mapper>