<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hr.mapper.SalaryGrantMapper">

	<resultMap type="SalaryGrant" id="SalaryGrantMap" >
		<id property="sgrId"    column="sgr_id"/>
		<result property="salaryGrantId"    column="salary_grant_id"/>
		<result property="salaryStandardId"    column="salary_standard_id"/>
		<result property="firstKindId"    column="first_kind_id"/>
		<result property="firstKindName"    column="first_kind_name"/>
		<result property="secondKindId"    column="second_kind_id"/>
		<result property="secondKindName"    column="second_kind_name"/>
		<result property="thirdKindId"    column="third_kind_id"/>
		<result property="thirdKindName"    column="third_kind_name"/>
		<result property="humanAmount"    column="human_amount"/>
		<result property="salaryStandardSum"    column="salary_standard_sum"/>
		<result property="salaryPaidSum"    column="salary_paid_sum"/>
		<result property="register"    column="register"/>
		<result property="registTime"    column="regist_time"/>
		<result property="checker"    column="checker"/>
		<result property="checkTime"    column="check_time"/>
		<result property="checkStatus"    column="check_status"/>
	</resultMap>

	
	<select id="selectSalaryGrantAll" resultMap="SalaryGrantMap">
		select * from salary_grant
	</select>
	
	<select id="selectSalaryGrantById" parameterType="_int" resultMap="SalaryGrantMap">
		select * from salary_grant where sgr_id=#{id}
	</select>
	<!-- 根据状态值查询 -->
	<select id="selectSalaryGrantByStatus" parameterType="_int" resultMap="SalaryGrantMap">
		select * from salary_grant where check_status=#{checkStatus}
	</select>
	
	<!-- 向思宇加的查询基本薪酬和派发的薪酬。 -->
	<select id="selectSalaryGrantSalarySumById" parameterType="_int" resultMap="SalaryGrantMap">
		select salary_standard_sum,salary_paid_sum,register,human_amount,checker from salary_grant where salary_standard_id=#{id}
	</select>
	
	<delete id="deleteSalaryGrantById" parameterType="_int">
		delete from salary_grant where sgr_id=#{id}
	</delete>
	<insert id="insertSalaryGrant" parameterType="SalaryGrant">
		insert into salary_grant(salary_grant_id,salary_standard_id,first_kind_id,first_kind_name,second_kind_id,second_kind_name,third_kind_id,third_kind_name,human_amount,salary_standard_sum,salary_paid_sum,register,regist_time,checker,check_time,check_status) 
		values(#{salaryGrantId},#{salaryStandardId},#{firstKindId},#{firstKindName},#{secondKindId},#{secondKindName},#{thirdKindId},#{thirdKindName},#{humanAmount},#{salaryStandardSum},#{salaryPaidSum},#{register},#{registTime},#{checker},#{checkTime},#{checkStatus})
	</insert>
	
	<update id="updateSalaryGrant" parameterType="SalaryGrant">
		update salary_grant set salary_grant_id=#{salaryGrantId},salary_standard_id=#{salaryStandardId},first_kind_id=#{firstKindId},first_kind_name=#{firstKindName},second_kind_id=#{secondKindId},second_kind_name=#{secondKindName},third_kind_id=#{thirdKindId},third_kind_name=#{thirdKindName},human_amount=#{humanAmount},salary_standard_sum=#{salaryStandardSum},salary_paid_sum=#{salaryPaidSum},register=#{register},regist_time=#{registTime},checker=#{checker},check_time=#{checkTime},check_status=#{checkStatus} where sgr_id=#{sgrId}
	</update>
	<!-- 更新状态 -->
	<update id="updateSalaryGrantStatus" parameterType="SalaryGrant">
		update salary_grant set check_status=2 where check_status=#{checkStatus}
	</update>
</mapper>